

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    max-width: 700px;
    
    }


.search-bar input {
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
}

.search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.filter-box { 
    display: flex;
    margin-bottom: 20px;   
    width: 100%;
    border: solid black 1px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.filter-box label {
    display: block;      
}



.product-list table {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    caption-side: bottom;
    color: #000000;
    text-align:left;
    letter-spacing: 1px;
}

.product-list tr:nth-of-type(2n+1){
    background-color: rgb(145, 168, 150);
}
.product-list tr:nth-of-type(2n) {
    background-color: rgb(124, 148, 128);
}

.product-list th, .product-list td {
    border: 1px solid #000000;
    padding: 8px;  
}

.product-list tr:hover{
    background-color:#86d694 ;
}

.product-list th {
    background-color: #226304;
    text-align: left;
    color: #ffffff;
}




.buttons {
    text-align: center;
}
.product-list {
    min-height: 500px;
}
.badge {
    padding: 0.35em 0.65em;
    display: inline-block;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.375em;
    font-size: 0.75em;
    margin: 0px 5px;
}
.badgeAzul{
    background-color: blue;
    color: white;
}
.badgeRojo{
    background-color: red;
    color: white;
}
.badgeVerde{
    background-color: green;
    color: white;
}
.badgeNaranja{
    background-color: orange;
    color: black;
}
.badgeNegro{
    background-color: black;
    color: white;
}

/* modal agregar producto  */

/* Estilos para la ventana flotante categoría  */


.agregarCont {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#newCategory {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 100px);
    margin-right: 10px;
    height: fit-content;
    align-items: center;
}

#addBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
    border-radius: 8px;
    background-color: #226304;
    color: white;
    border: none;
    border: 1px solid #000000;
}

#addBtn:hover {
    background-color: rgb(60, 164, 82);
    transform: scale(1.02);
}

#AgregarCategoria h2 {
    text-align: center;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    background-color: rgb(61, 156, 82);;
    border-radius: 5px;
}

.category-item:hover{
    filter: brightness(130%);
}



.label-categoria{
    width: 100%;
    text-align: left;
}



/* Estilo agregar producto modal*/
.form-container {
    background-color: rgb(145, 168, 150);
    padding: 20px;
    width: 360px;
    border-radius: 5px;
} 
#contenedorAP .comSwitch {
    justify-content:flex-start;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}
.subtitulo {
    font-size: 20px;
}
.form-group {
    margin-bottom: 15px;
    }

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}



.form-group .price-input {
    display: flex;
    align-items: center;
}

.form-group .price-input span { 
    margin-right: 5px;
}

.form-group .error {
    display: none;
    color: rgb(204, 2, 2);
    font-size: 15px;
}

.form-group input.invalid, .form-group select.invalid, .form-group textarea.invalid {
    border: 2px solid rgb(204, 2, 2);
    border-radius: 8px;
}



