/* Contenedor de filtros */
.filtroVenta {
    background-color: rgb(132, 189, 144);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px #000000 solid;
}

.filtroVenta:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

/* Título del filtro */
.tituloFiltroVenta {    
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* Estilo para las etiquetas y los inputs de fecha */
.elementoFiltro {
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input[type="date"]:focus {
    border-color: rgb(132, 189, 144);;
    outline: none;
}

label[for="desde"]{
    margin-left: 10%;
}

label[for="hasta"]{
    margin-left: 10%;
}


/* Estilo para el rango de precios */
input[type="range"] {
    width: 40%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    transition: background 0.3s ease;    
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #28a745;
    cursor: pointer;  
}

input[type="range"]:hover {
    background: #7ea087;
}

label[for="rangoMnimo"]{
    margin-left: 25%;
}

label[for="rangoMaximo"]{
    margin-left: 25%;
}

/* Ventas (resultados) */
#ventas {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgb(132, 189, 144);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: #000000 1px solid;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    .filtroVenta {
        width: 100%;
    }
}

@media (max-width: 480px) {
    input[type="date"],
    input[type="range"] {
        font-size: 0.9em;
    }

    .textSwitch {
        font-size: 0.9em;
    }
}

.comSwitch {
    display: inline-flex;
    margin-left: 25%;
}
