/* Contenedor de filtros */

.contenedorFiltro {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    max-width: 100% ;
}

.filtroVenta {
    
    background-color: rgb(135, 177, 144);
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #000000;
}

.filtroVenta:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

/* Título del filtro */
.tituloFiltroVenta {    
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* Estilo para las etiquetas y los inputs de fecha */
.elementoFiltro {
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input[type="date"]:focus {
    border-color: rgb(132, 189, 144);;
    outline: none;
}

label[for="desde"]{
    margin-left: 10%;
}

label[for="hasta"]{
    margin-left: 10%;
}


/* Estilo para el rango de precios */
input[type="range"] {
    width: 40%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    transition: background 0.3s ease;    
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #28a745;
    cursor: pointer;  
}

input[type="range"]:hover {
    background: #7ea087;
}

/* Ventas (resultados) */
#ventas {
    margin: 10px auto;
    padding: 10px 70px;
    max-width: 100%;
    background-color: rgb(145, 168, 150);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 800px;
}

.contenedorVentas{
    display: flex;
    flex-direction: column;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    .filtroVenta {
        width: 100%;
    }
}

@media (max-width: 480px) {
    input[type="date"],
    input[type="range"] {
        font-size: 0.9em;
    }

    .textSwitch {
        font-size: 0.9em;
    }
}

.comSwitch {
    display: inline-flex;
    margin-left: 25%;
}

/* Estilos para la tabla de detalles */
.ventaCuadro{
    border: #000000 solid 1px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(135, 177, 144);
}

.ventaCuadro table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.ventaCuadro thead th {
    background-color: #28a745;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.ventaCuadro tbody td {
    padding: 8px;
    border-bottom: 1px solid #000000;
}

.ventaCuadro tbody tr:hover {
    background-color: #86d694;
}

/* Estilos para el total */
.contenedorTotal {
    text-align: right;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

/* Estilos para los botones */
.contedorBotones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ventaCuadro button {
    margin-left: 5px;
}